In [1]:
#importing libs

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

import tensorflow.keras

In [2]:
#importing dataset

data = pd.read_csv ('/content/drive/MyDrive/Datasets/Churn_Modelling.csv')
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [3]:
X = data.iloc[:,3:13]
y = data.iloc[ :,13 ]

In [4]:
X.head()

   CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0          619    France  Female  ...          1               1        101348.88
1          608     Spain  Female  ...          0               1        112542.58
2          502    France  Female  ...          1               0        113931.57
3          699    France  Female  ...          0               0         93826.63
4          850     Spain  Female  ...          1               1         79084.10

[5 rows x 10 columns]

Now we need to change categorical variable to numeric

In [5]:
Geo = pd.get_dummies(X['Geography'], drop_first= True)
Gen = pd.get_dummies(X['Gender'], drop_first= True)

In [6]:
X= pd.concat([X, Geo, Gen], axis =1 )

In [7]:
X = X.drop(['Geography', 'Gender'], axis = 1)
X.head()

   CreditScore  Age  Tenure    Balance  ...  EstimatedSalary  Germany  Spain  Male
0          619   42       2       0.00  ...        101348.88        0      0     0
1          608   41       1   83807.86  ...        112542.58        0      1     0
2          502   42       8  159660.80  ...        113931.57        0      0     0
3          699   39       1       0.00  ...         93826.63        0      0     0
4          850   43       2  125510.82  ...         79084.10        0      1     0

[5 rows x 11 columns]

In [8]:
y.head()

0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

In [9]:
#train -test split

from sklearn.model_selection import train_test_split

trainx, testx, trainy, testy = train_test_split(X,y, test_size = 0.2,  random_state = 1)

In [10]:
#feature sclaing 

from sklearn.preprocessing import StandardScaler

scale = StandardScaler()
trainx= scale.fit_transform(trainx)
testx = scale.transform(testx)

In [11]:
import tensorflow.keras 
from tensorflow.keras.layers import Dense, ReLU, Dropout
from tensorflow.keras.models import Sequential

In [24]:
#building model 

model  = Sequential()

#adding 1st input layer 
model.add(Dense(8, activation='relu', kernel_initializer='he_uniform', input_dim = 11))
model.add(Dense(8, activation='relu', kernel_initializer='he_uniform'))
model.add(Dense(3, activation='relu', kernel_initializer='he_uniform'))

model.add(Dense(1, activation='sigmoid', kernel_initializer= 'glorot_uniform'))

In [25]:
model.compile (optimizer='adam',loss = 'binary_crossentropy', metrics = ['accuracy'])

In [27]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 8)                 96
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 72
_________________________________________________________________
dense_2 (Dense)              (None, 3)                 27
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 4
=================================================================
Total params: 199
Trainable params: 199
Non-trainable params: 0
_________________________________________________________________

In [26]:
model_history = model.fit(trainx, trainy, batch_size=32, epochs= 20, validation_split=0.33, validation_data=(testx, testy))

Epoch 1/20
168/168 [==============================] - 1s 3ms/step - loss: 0.5878 - accuracy: 0.7513 - val_loss: 0.5039 - val_accuracy: 0.8039
Epoch 2/20
168/168 [==============================] - 0s 2ms/step - loss: 0.5013 - accuracy: 0.7933 - val_loss: 0.4658 - val_accuracy: 0.8042
Epoch 3/20
168/168 [==============================] - 0s 2ms/step - loss: 0.4654 - accuracy: 0.8019 - val_loss: 0.4474 - val_accuracy: 0.8058
Epoch 4/20
168/168 [==============================] - 0s 2ms/step - loss: 0.4531 - accuracy: 0.8033 - val_loss: 0.4369 - val_accuracy: 0.8126
Epoch 5/20
168/168 [==============================] - 0s 2ms/step - loss: 0.4211 - accuracy: 0.8120 - val_loss: 0.4283 - val_accuracy: 0.8118
Epoch 6/20
168/168 [==============================] - 0s 2ms/step - loss: 0.4211 - accuracy: 0.8174 - val_loss: 0.4205 - val_accuracy: 0.8141
Epoch 7/20
168/168 [==============================] - 0s 2ms/step - loss: 0.4166 - accuracy: 0.8143 - val_loss: 0.4135 - val_accuracy: 0.8107
Epoch 8/20
168/168 [==============================] - 0s 2ms/step - loss: 0.4121 - accuracy: 0.8249 - val_loss: 0.4040 - val_accuracy: 0.8201
Epoch 9/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3995 - accuracy: 0.8311 - val_loss: 0.3961 - val_accuracy: 0.8254
Epoch 10/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3844 - accuracy: 0.8394 - val_loss: 0.3874 - val_accuracy: 0.8304
Epoch 11/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3792 - accuracy: 0.8426 - val_loss: 0.3812 - val_accuracy: 0.8379
Epoch 12/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3852 - accuracy: 0.8410 - val_loss: 0.3757 - val_accuracy: 0.8406
Epoch 13/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3846 - accuracy: 0.8440 - val_loss: 0.3702 - val_accuracy: 0.8421
Epoch 14/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3682 - accuracy: 0.8463 - val_loss: 0.3680 - val_accuracy: 0.8425
Epoch 15/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3706 - accuracy: 0.8487 - val_loss: 0.3654 - val_accuracy: 0.8440
Epoch 16/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3659 - accuracy: 0.8501 - val_loss: 0.3619 - val_accuracy: 0.8448
Epoch 17/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3602 - accuracy: 0.8494 - val_loss: 0.3598 - val_accuracy: 0.8470
Epoch 18/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3557 - accuracy: 0.8532 - val_loss: 0.3581 - val_accuracy: 0.8485
Epoch 19/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3610 - accuracy: 0.8485 - val_loss: 0.3576 - val_accuracy: 0.8493
Epoch 20/20
168/168 [==============================] - 0s 2ms/step - loss: 0.3589 - accuracy: 0.8555 - val_loss: 0.3566 - val_accuracy: 0.8493

In [28]:
y_pred = model.predict(testx)

In [30]:
y_pred = (y_pred > 0.5)

In [32]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(testy, y_pred)
cm

array([[1506,   79],
       [ 227,  188]])

In [33]:
acc_score = accuracy_score(testy, y_pred)

In [34]:
acc_score

0.847